.App {
  text-align: center;
}

.App-logo1 {
  animation: App-logo-spin infinite 12s linear alternate;
  height: 45px;
}

.App-logo2 {
  animation: App-logo-spin infinite 8s linear alternate;
  height: 45px;
}

.App-logo3 {
  animation: App-logo-spin infinite 6s linear alternate;
  height: 45px;
}

.App-header {
  background-color: #0e1626;
  height: 110px;
  padding: 10px;
  color: #f5f5f5;
}

.App-link {
  color: #b0d5ce;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.map {
  width: 85%;
  height: auto;
  margin: 0;
  min-height: 700px;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.locations-list {
  width: 15%;
  min-width: 100px;
  background-color: #304a7d;
  color: yellow;
}

ul {
  list-style: none;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 0;
}

li {
  line-height: 60px;
  text-decoration: none;
  border-bottom-style: solid;
  border-width: 2px;
  border-color: #2c6675;
}

input {
  line-height: 40px;
  max-width: 145px;
  text-decoration: none;
  font-size: 16px;
  padding: 0;
  margin-top: 0px;
  margin-bottom: 25px;
  background-color: #f5f5f5;
}

@media screen and (max-width:1125px) {
  input {
    max-width: 135px;
  }
}

@media screen and (max-width:1003px) {
  .map {
    width: 81%;
  }

  .locations-list {
    width: 19%;
  }
}

@media screen and (max-width:800px) {
  .map {
    width: 78%;
  }

  .locations-list {
    width: 22%;
  }
}

@media screen and (max-width:684px) {
  .map {
    width: 75%;
  }

  .locations-list {
    width: 25%;
  }
}

@media screen and (max-width:602px) {
  .map {
    width: 72%;
  }

  .locations-list {
    width: 28%;
  }
}

@media screen and (max-width:538px) {
  .map {
    width: 67%;
  }

  .locations-list {
    width: 33%;
  }
}

@media screen and (max-width:456px) {
  .map {
    width: 63%;
  }

  .locations-list {
    width: 37%;
  }
}

@media screen and (max-width:407px) {
  .map {
    width: 57%;
  }

  .locations-list {
    width: 43%;
  }
}

@media screen and (max-width:377px) {
  .map {
    width: 52%;
  }

  .locations-list {
    width: 48%;
  }
}
